---
layout: page
title: Conferenze
---

<h2>Speaker invitati</h2>
<p>
Le conferenze si svolgeranno sia a Milano sia a Pavia. Saranno tenute da docenti universitari e ricercatori di entrambi gli Atenei, che descriveranno le attuali frontiere della fisica biosanitaria ed esporranno la ricerca svolta dai loro gruppi, che in questi anni ha ottenuto risultati di rilievo e beneficiato di prestigiose collaborazioni.
</p>
<ul class="collection">
	{% for item in site.data.speakers %}
  <li class="collection-item avatar" id="{{ item.id }}">
    <img src="{{ item.img }}" alt="" class="circle">
    <span class="title">
      {{ item.nome }}
    </span>
    <br>
    <span>
      <i>{{ item.uni }}</i>
    </span>
    <p style="text-align:justify">
      {{ item.bio }}
      <br>
    </p>
		<br>
		{% if item.title != nil %}
    <p style="color:{{site.data.generic.color1}}">Titolo presentazione: <b>{{item.title}}</b></p>
		<p>{{ item.abstract }}</p>
		{% endif %}
    <!-- <div class="secondary-content">
			<a href="{{site.url}}/programme" title="Vedi evento nel programma">
				<i class="fa fa-lg fa-calendar"></i>
			</a>
		</div> -->
	    </li>
	{% endfor %}
</ul>
<p><i>Sono in via di definizione altre possibili conferenze.</i></p>

<h2>Sessione poster</h2>
Una poster session sarà organizzata in modo da permettere ai ricercatori e ai dottorandi dei Dipartimenti di Fisica di Pavia e di Milano, ma anche dei Centri di Ricerca locali, di esporre la propria attività di ricerca o di approfondire alcune tematiche presentate durante le conferenze.

<h2>Talk studenti</h2>
Nel corso dell’evento i partecipanti avranno l’opportunità di esporre agli altri studenti la loro attività di ricerca, specialmente nell’ambito della fisica medica e biosanitaria. Se interessati, è possibile indicare nel form di iscrizione all'evento, il titolo del proprio intervento con un breve abstract.
