<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <div class="col l7 pull-l5">
          <img id="index-top-logo" src="{{ site.url }}/{{ site.data.home.banner }}" alt="Event logo">
        </div>
        <div class="col l5 push-l7">
          <div id="box">
            <p class="flow-text">
                <b>Bi</b>o-medical <br>
          <b>P</b>hysics <br>
          <b>L</b>ombard <br>
          <b>E</b>vent <br>
        </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
